@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root{
  --nb-font: "Sevillana", cursive;
}

/* Markdown renderizado */
.rendered_html {
  font-family: 'Sevillana', cursive !important;
  font-size: 22px;
  line-height: 1.6;
  color: #2c2c2c;
}

/* Parágrafos e listas */
.rendered_html p,
.rendered_html li {
  font-family: 'Sevillana', cursive !important;
}